html {
  scroll-behavior: smooth;
}
h3{
  font-family: 'Noto Sans', sans-serif;
}
#company
{
	font-family: 'Noto Sans', sans-serif;
padding-top:20px;
padding-bottom: 20px;
display: inline-block;
font-size: 25px;
}
.divone
{
	font-family: 'Noto Sans', sans-serif;
	padding-top:45px;
  font-size: larger;
  margin-left: 10%;
  margin-right: 10%;

}
.divtwo
{
	padding-top:25px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 11px;
	color: grey;
	padding-bottom: 25px;
}
.flex-container {
  display: flex;
justify-content: center;
  align-items: center;
}
.flex-container > div {
 
  margin: 10px;
  padding: 20px;
  font-size: 15px;
}
input{
	width: 20%;
	 border: 1px solid #f1f1f1;
  border-radius: 3px;
  padding: 10px;
  position: relative;
}
extra{
	font-size: 20px;
}
input::placeholder {
  color: grey;
  font-size: 11px;
}
.btn
{
	 border: 1px solid #f1f1f1;
  border-radius: 3px;
 background: #1a73e8;
 padding: 6px 20px;
 font-size: 20px;
 cursor: pointer;
 /*margin: 10px;*/
 transition: 0.1s;
 /*position: absolute;*/
 color: white;
 /*padding-left: auto;*/
 font-family: 'Noto Sans', sans-serif;
 margin-top: 50px;
}
.btn:hover{
	 font-size: 23px;
}
p {
 position: relative;
 }
.Multiple-Tyre{
	padding-top: 65px;
  width: 100%;
  height: auto;
}
.Single-Tyre{
  height: auto;
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
hr{
  margin-top: 0;
}
.image-container{
  width: 40%;
  height: auto;
  display: block;
}

@media (max-width: 767px) {
  .image-container{
    width: 80%;
    height: auto;
    display: block;
  }
}